<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>841623977307-79dbg941vc5q4p00ff2886il2tg7sji5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841623977307-79dbg941vc5q4p00ff2886il2tg7sji5</string>
	<key>API_KEY</key>
	<string>AIzaSyDPmzCCKODX6d4y3frMTH0XJARGUbUOCDc</string>
	<key>GCM_SENDER_ID</key>
	<string>841623977307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Techinator.FieldMinistry</string>
	<key>PROJECT_ID</key>
	<string>field-ministry-f7147</string>
	<key>STORAGE_BUCKET</key>
	<string>field-ministry-f7147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841623977307:ios:59d261896cd29788</string>
	<key>DATABASE_URL</key>
	<string>https://field-ministry-f7147.firebaseio.com</string>
</dict>
</plist>